* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
body {
  background: #000;
  padding-top: 50vh;
}
.circle {
  width: 400px;
  height: 400px;
  background: #f06d06;
  margin: -200px auto 0;
  border-radius: 100%;
  position: relative;
}
.lane {
  width: 400px;
  position: absolute;
  top: 50%;
}
.dot {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0;
  background: #fff;
  border-radius: 100%;
  -webkit-animation: travel 5s infinite ease-in-out reverse;
  animation: travel 5s infinite ease-in-out reverse;
}
.lane:nth-child(1) {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.lane:nth-child(1) .dot {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lane:nth-child(2) {
  -webkit-transform: rotate(-22.5deg);
      -ms-transform: rotate(-22.5deg);
          transform: rotate(-22.5deg);
}
.lane:nth-child(2) .dot {
  -webkit-animation-delay: 0.3125s;
  animation-delay: 0.3125s;
}
.lane:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.lane:nth-child(3) .dot {
  -webkit-animation-delay: 0.625s;
  animation-delay: 0.625s;
}
.lane:nth-child(4) {
  -webkit-transform: rotate(-67.5deg);
      -ms-transform: rotate(-67.5deg);
          transform: rotate(-67.5deg);
}
.lane:nth-child(4) .dot {
  -webkit-animation-delay: 0.9375s;
  animation-delay: 0.9375s;
}
.lane:nth-child(5) {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.lane:nth-child(5) .dot {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}
.lane:nth-child(6) {
  -webkit-transform: rotate(-112.5deg);
      -ms-transform: rotate(-112.5deg);
          transform: rotate(-112.5deg);
}
.lane:nth-child(6) .dot {
  -webkit-animation-delay: 1.5625s;
  animation-delay: 1.5625s;
}
.lane:nth-child(7) {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.lane:nth-child(7) .dot {
  -webkit-animation-delay: 1.875s;
  animation-delay: 1.875s;
}
.lane:nth-child(8) {
  -webkit-transform: rotate(-157.5deg);
      -ms-transform: rotate(-157.5deg);
          transform: rotate(-157.5deg);
}
.lane:nth-child(8) .dot {
  -webkit-animation-delay: 2.1875s;
  animation-delay: 2.1875s;
}
@-webkit-keyframes travel {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(380px, 0, 0);
            transform: translate3d(380px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes travel {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(380px, 0, 0);
            transform: translate3d(380px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
