* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  padding-top: 50vh;
}
.area {
  width: 300px;
  height: 300px;
  margin: -150px auto 0;
  position: relative;
}
.lane {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 125px;
  left: 0;
}
.lane:nth-child(1) {
  -webkit-transform: translate3d(0, 100px, 0) rotate(170deg);
          transform: translate3d(0, 100px, 0) rotate(170deg);
  -webkit-transform-origin: 50% -50px;
      -ms-transform-origin: 50% -50px;
          transform-origin: 50% -50px;
}
.lane:nth-child(2) {
  -webkit-transform: translate3d(0, 100px, 0) rotate(260deg);
          transform: translate3d(0, 100px, 0) rotate(260deg);
  -webkit-transform-origin: 50% -50px;
      -ms-transform-origin: 50% -50px;
          transform-origin: 50% -50px;
}
.lane:nth-child(3) {
  -webkit-transform: translate3d(0, 100px, 0) rotate(350deg);
          transform: translate3d(0, 100px, 0) rotate(350deg);
  -webkit-transform-origin: 50% -50px;
      -ms-transform-origin: 50% -50px;
          transform-origin: 50% -50px;
}
.lane:nth-child(4) {
  -webkit-transform: translate3d(0, 100px, 0) rotate(440deg);
          transform: translate3d(0, 100px, 0) rotate(440deg);
  -webkit-transform-origin: 50% -50px;
      -ms-transform-origin: 50% -50px;
          transform-origin: 50% -50px;
}
.lane .stripe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  -webkit-animation: slide 1s linear infinite;
          animation: slide 1s linear infinite;
  border-radius: 50px;
}
.lane .blue {
  background-color: rgba(0,170,255,0.7);
}
.lane .green {
  background-color: rgba(0,255,170,0.7);
}
.lane .red {
  background-color: rgba(255,0,85,0.7);
}
.lane .yellow {
  background-color: rgba(255,187,51,0.7);
}
@-webkit-keyframes slide {
  from {
    width: 50px;
  }
  35% {
    width: 300px;
    left: 0;
  }
  70% {
    width: 50px;
    left: 250px;
  }
  to {
    left: 0;
  }
}
@keyframes slide {
  from {
    width: 50px;
  }
  35% {
    width: 300px;
    left: 0;
  }
  70% {
    width: 50px;
    left: 250px;
  }
  to {
    left: 0;
  }
}
