@require 'variables'

.sidebar
  z-index 100
  position absolute
  width sidebar-width
  top 0
  left 0
  bottom 0
  background #9B9B9B
  color #222
  box-shadow 0 2px 5px shadow-dark, inset 0 0 2px shadow-light
  border 1px solid #9B9B9B

  .title
    font-size 24px
    text-align center
    color #fff
    text-shadow 0 2px 4px shadow-dark

    a
      color inherit
      text-decoration: none

.category
  .category-title
    position relative
    z-index 100
    font-size 18px
    width sidebar-width + base-padding
    height 35px
    line-height 35px
    background #ccc
    margin 0
    margin-left -10px
    padding-left 20px
    border 1px solid #979797
    box-shadow 0 2px 5px shadow-dark, inset 0 1px 3px shadow-dark, inset 0 4px 1px shadow-light
    text-shadow 0 1px 2px shadow-light

    &:after
      display block
      z-index -1
      position absolute
      right 0
      top 34px
      width 10px
      height 7px
      border 5px solid #666
      border-right-color transparent
      border-bottom-color transparent
      content ""
      box-shadow inset 0 0 1px shadow-light

  .category-list
    list-style-type: none
    margin 0
    padding 10px 0

  .experiment
    box-shadow 0 0 0 shadow-dark, 0 1px 1px shadow-light, inset 0 1px 1px shadow-light
    padding-left 10px
    height 35px
    line-height 35px

    a
      color inherit
      text-decoration: none

      &:hover
        text-decoration: underline